<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <Section Name="FabricObserverLogs">
    <Parameter Name="ObserverLogBaseFolderPath" Value="C:\observer_logs" />
    <Parameter Name="ObserverManagerLogFileName" Value="ObserverManager\ObserverManager.log" />
    <Parameter Name="AppObserverLogFileName" Value="AppObserver\AppObserver.log" />
    <Parameter Name="DiskObserverLogFileName" Value="DiskObserver\DiskObserver.log" />
    <Parameter Name="FabricSystemObserverLogFileName" Value="FabricSystemObserver\FabricSystemObserver.log" />
    <Parameter Name="NetworkObserverLogFileName" Value="NetworkObserver\NetworkObserver.log" />
    <Parameter Name="NodeObserverLogFileName" Value="NodeObserver\NodeObserver.log" />
    <Parameter Name="OSObserverLogFileName" Value="OSObserver\OSObserver.log" />
  </Section>
  <Section Name="SecurityInfo">
    <Parameter Name="Thumbprint" Value="[Your cert thumbprint]" />
  </Section>
</Settings>
