<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="DefaultPushSource" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_Shared/nuget/v3/index.json" />
    <add key="PackageSaveMode" value="nuspec;nupkg" />
  </config>
  <packageSources>
    <!-- Clears all sources, to disable nuget.org -->
    <clear />
    <add key="SQL-Shared" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQL_Shared/nuget/v3/index.json" />
    <add key="SQL-Toolset" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQL_Toolset/nuget/v3/index.json" />
    <add key="SQLDS-SSMS" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_SSMS/nuget/v3/index.json" />
    <add key="SQLDS-Shared" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_Shared/nuget/v3/index.json" />
    <add key="DPES-SQLProto" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDPES_SQLProto/nuget/v3/index.json" />
    <add key="ES" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQL_ES/nuget/v3/index.json" />
    <add key="CoreXT" value="https://corext.pkgs.visualstudio.com/DefaultCollection/_packaging/CoreXT/nuget/v3/index.json" />
    <add key="SQLIS-DE" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLIS_DE/nuget/v3/index.json" />
    <add key="SQLIS-DT" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLIS_DT/nuget/v3/index.json" />
    <add key="SQLIS-ISCurated" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLIS_Curated/nuget/v3/index.json" />
    <add key="ExternalComponents" value="https://powerbi.pkgs.visualstudio.com/DefaultCollection/_packaging/ExternalComponents/nuget/v3/index.json" />
    <add key="ASEngineComponents" value="https://powerbi.pkgs.visualstudio.com/DefaultCollection/_packaging/AsEngineComponents/nuget/v3/index.json" />
    <add key="RS" value="https://powerbi.pkgs.visualstudio.com/_packaging/RSComponents/nuget/v3/index.json" />
    <add key="RS - External" value="https://powerbi.pkgs.visualstudio.com/_packaging/RSExternals/nuget/v3/index.json" />
    <add key="OSS-All" value="https://ossmsft.pkgs.visualstudio.com/DefaultCollection/_packaging/OSS_ALL/nuget/v3/index.json" />
    <add key="SQLDS_DataSecurity" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_packaging/SQLDS_DataSecurity/nuget/v3/index.json" />
    <add key="MRS_Setup" value="https://msdata.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/MRS_Setup/nuget/index.json" />
    <add key="Manual" value="https://msazure.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/ManualMirror/nuget/index.json" />
    <add key="ODBC_Nugets" value="https://sqlclientdrivers.pkgs.visualstudio.com/_packaging/ODBC_Nugets/nuget/v3/index.json" />
    <add key="PowerBiComponents" value="https://powerbi.pkgs.visualstudio.com/_packaging/PowerBiComponents/nuget/v3/index.json" />
    <add key="Externals" value="https://powerbi.pkgs.visualstudio.com/_packaging/Externals/nuget/v3/index.json" />
    <add key="MSAzureOfficial" value="https://msazure.pkgs.visualstudio.com/_packaging/Official/nuget/v3/index.json" />
    <add key="OLEDB" value="https://sqlclientdrivers.pkgs.visualstudio.com/_packaging/OLEDB_Nugets/nuget/v3/index.json" />
    <add key="Data-SQL-PolyBaseOdbcDrivers" value="https://msazure.pkgs.visualstudio.com/_packaging/PolyBaseOdbcDrivers/nuget/v3/index.json" />
    <add key="VDW" value="https://msdata.pkgs.visualstudio.com/_packaging/Polaris/nuget/v3/index.json" />
    <add key="SQLSSIS" value="https://msdata.pkgs.visualstudio.com/_packaging/SSIS_PaaS/nuget/v3/index.json" />
    <add key="OSSMSFT" value="https://ossmsft.pkgs.visualstudio.com/DefaultCollection/_apis/packaging/OSS_All/nuget/index.json" />
    <add key="Data-ThirdParty" value="https://msazure.pkgs.visualstudio.com/_packaging/Data-ThirdParty/nuget/v3/index.json" />
    <add key="SQLXCS_OSS_DEPENDS" value="https://msazure.pkgs.visualstudio.com/_packaging/XCS_Depends/nuget/v3/index.json" />
    <add key="nugetV3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
