<?xml version="1.0" encoding="utf-8" ?>
<!-- Note: You can use an XML diff/merge tool to make upgrading your base configuration to the latest version easier. 
           Get the tool here: https://github.com/gittorre/XmlDiffPatchSF -->
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
	<Section Name="ObserverManagerConfiguration">
		<Parameter Name="ObserverLoopSleepTimeSeconds" Value="" />
		<Parameter Name="ObserverLogPath" Value="" />
		<Parameter Name="ObserverExecutionTimeout" Value="" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="EnableETWProvider" Value="true" />
		<Parameter Name="EnableFabricObserverOperationalTelemetry" Value="" />
		<Parameter Name="ObserverFailureHealthStateLevel" Value="" />
		<Parameter Name="EnableTelemetryProvider" Value="" />
		<Parameter Name="ObserverShutdownGracePeriodInSeconds" Value="1" />
		<Parameter Name="DataLogPath" Value="fabric_observer_csvdata" />
		<Parameter Name="FQDN" Value="" />
		<Parameter Name="MaxArchivedLogFileLifetimeDays" Value="3" />
		<Parameter Name="MaxArchivedCsvFileLifetimeDays" Value="1" />
		<Parameter Name="CsvFileWriteFormat" Value="SingleFileWithArchives" />
		<Parameter Name="TelemetryProvider" Value="AzureLogAnalytics" />
		<Parameter Name="AppInsightsInstrumentationKey" Value="" />
		<Parameter Name="LogAnalyticsWorkspaceId" Value="" />
		<Parameter Name="LogAnalyticsSharedKey" Value="" />
		<Parameter Name="LogAnalyticsLogType" Value="FabricObserver" />
		<Parameter Name="ObserverWebApiEnabled" Value="true" />
	</Section>
	<Section Name="AppObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableConcurrentMonitoring" Value="true" />
		<Parameter Name="MaxConcurrentTasks" Value="-1" />
		<Parameter Name="EnableTelemetry" Value="false" />
		<Parameter Name="EnableEtw" Value="true" />
		<Parameter Name="EnableCSVDataLogging" Value="false" />
		<Parameter Name="EnableKvsLvidMonitoring" Value="false" />
		<Parameter Name="EnableVerboseLogging" Value="false" />
		<Parameter Name="MonitorDuration" Value="00:00:01" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="ConfigurationFileName" Value="AppObserver.config.json" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
		<Parameter Name="UseCircularBuffer" Value="false" />
		<Parameter Name="ResourceUsageDataCapacity" Value="" />
		<Parameter Name="EnableChildProcessMonitoring" Value="true" />
		<Parameter Name="MaxChildProcTelemetryDataCount" Value="25" />
		<Parameter Name="EnableProcessDumps" Value="true" />
		<Parameter Name="DumpType" Value="MiniPlus" />
		<Parameter Name="MaxDumps" Value="3" />
		<Parameter Name="MaxDumpsTimeWindow" Value="00:04:00" />
		<Parameter Name="MonitorPrivateWorkingSet" Value="true" />
		<Parameter Name="MonitorResourceGovernanceLimits" Value="true" />
	</Section>
	<Section Name="CertificateObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableTelemetry" Value="false" />
		<Parameter Name="EnableEtw" Value="false" />
		<Parameter Name="EnableVerboseLogging" Value="false" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="DaysUntilClusterExpiryWarningThreshold" Value="" />
		<Parameter Name="DaysUntilAppExpiryWarningThreshold" Value="" />
		<Parameter Name="AppCertThumbprintsToObserve" Value="" />
		<Parameter Name="AppCertCommonNamesToObserve" Value="" />
	</Section>
	<Section Name="DiskObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableEtw" Value="true" />
		<Parameter Name="EnableVerboseLogging" Value="false" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="DiskSpacePercentUsageWarningThreshold" Value="" />
		<Parameter Name="DiskSpacePercentUsageErrorThreshold" Value="" />
		<Parameter Name="AverageQueueLengthErrorThreshold" Value="" />
		<Parameter Name="AverageQueueLengthWarningThreshold" Value="" />
		<Parameter Name="EnableFolderSizeMonitoring" Value="" />
		<Parameter Name="FolderPathsErrorThresholdsMb" Value="" />
		<Parameter Name="FolderPathsWarningThresholdsMb" Value="" />
	</Section>
	<Section Name="FabricSystemObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableKvsLvidMonitoring" Value="" />
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableEtw" Value="true" />
		<Parameter Name="EnableCSVDataLogging" Value="" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="MonitorDuration" Value="" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="MonitorPrivateWorkingSet" Value="true" />
		<Parameter Name="UseCircularBuffer" Value="" />
		<Parameter Name="ResourceUsageDataCapacity" Value=""/>
		<Parameter Name="MonitorWindowsEventLog" Value="" />
		<Parameter Name="CpuErrorLimitPercent" Value="" />
		<Parameter Name="CpuWarningLimitPercent" Value="" />
		<Parameter Name="MemoryErrorLimitMb" Value="" />
		<Parameter Name="MemoryWarningLimitMb" Value="" />
		<Parameter Name="NetworkErrorActivePorts" Value=""  />
		<Parameter Name="NetworkWarningActivePorts" Value=""  />
		<Parameter Name="NetworkErrorEphemeralPorts" Value="" />
		<Parameter Name="NetworkWarningEphemeralPorts" Value="" />
		<Parameter Name="AllocatedHandlesErrorLimit" Value="" />
		<Parameter Name="AllocatedHandlesWarningLimit" Value="" />
		<Parameter Name="ThreadCountErrorLimit" Value="" />
		<Parameter Name="ThreadCountWarningLimit" Value="" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
	</Section>
	<Section Name="NetworkObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableTelemetry" Value="false" />
		<Parameter Name="EnableEtw" Value="true" />
		<Parameter Name="EnableVerboseLogging" Value="false" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="ConfigurationFileName" Value="NetworkObserver.config.json" />
	</Section>
	<Section Name="NodeObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableTelemetry" Value="true" />
		<Parameter Name="EnableEtw" Value="true" />
		<Parameter Name="EnableCSVDataLogging" Value="" />
		<Parameter Name="EnableNodeSnapshot" Value="true" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="MonitorDuration" Value="" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="UseCircularBuffer" Value="" />
		<Parameter Name="ResourceUsageDataCapacity" Value=""/>
		<Parameter Name="CpuErrorLimitPercent" Value="" />
		<Parameter Name="CpuWarningLimitPercent" Value="" />
		<Parameter Name="MemoryErrorLimitMb" Value="" />
		<Parameter Name="MemoryWarningLimitMb" Value ="" />
		<Parameter Name="MemoryErrorLimitPercent" Value="" />
		<Parameter Name="MemoryWarningLimitPercent" Value ="" />
		<Parameter Name="NetworkErrorActivePorts" Value="" />
		<Parameter Name="NetworkWarningActivePorts" Value="" />
		<Parameter Name="NetworkErrorFirewallRules" Value="" />
		<Parameter Name="NetworkWarningFirewallRules" Value="" />
		<Parameter Name="NetworkErrorEphemeralPorts" Value="" />
		<Parameter Name="NetworkWarningEphemeralPorts" Value="" />
		<Parameter Name="NetworkErrorEphemeralPortsPercentage" Value="" />
		<Parameter Name="NetworkWarningEphemeralPortsPercentage" Value="" />
		<Parameter Name="LinuxFileHandlesErrorLimitPercent" Value=""/>
		<Parameter Name="LinuxFileHandlesWarningLimitPercent" Value=""/>
		<Parameter Name="LinuxFileHandlesErrorLimitTotal" Value=""/>
		<Parameter Name="LinuxFileHandlesWarningLimitTotal" Value=""/>
	</Section>
	<Section Name="OSObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableEtw" Value="true" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="EnableWindowsAutoUpdateCheck" Value="" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
		<Parameter Name="RunInterval" Value="" />
	</Section>
	<Section Name="SFConfigurationObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableEtw" Value="" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
		<Parameter Name="RunInterval" Value="" />
	</Section>
	<Section Name="AzureStorageUploadObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableEtw" Value="" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="BlobContainerName" Value="" />
		<Parameter Name="AzureStorageConnectionString" Value="" IsEncrypted="true" />
		<Parameter Name="AzureStorageAccountName" Value="" />
		<Parameter Name="AzureStorageAccountKey" Value="" IsEncrypted="true" />
		<Parameter Name="ZipFileCompressionLevel" Value="" />
	</Section>
	<Section Name="ContainerObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="EnableConcurrentMonitoring" Value="" />
		<Parameter Name="MaxConcurrentTasks" Value="" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
		<Parameter Name="EnableCSVDataLogging" Value="" />
		<Parameter Name="EnableEtw" Value=""/>
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="RunInterval" Value="" />
		<Parameter Name="ConfigurationFileName" Value="ContainerObserver.config.json" />
	</Section>
	<Section Name="ClusterObserverConfiguration">
		<Parameter Name="Enabled" Value="true" />
		<Parameter Name="ClusterOperationTimeoutSeconds" Value="120" />
		<Parameter Name="EnableCSVDataLogging" Value="" />
		<Parameter Name="EnableEtw" Value=""/>
		<Parameter Name="EnableTelemetry" Value="" />
		<Parameter Name="EnableVerboseLogging" Value="" />
		<Parameter Name="RunInterval" Value="" />
	</Section>
</Settings>